body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: #191919;
    color: white;
}

#root {

    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.main-container {
    flex: 1;
}

img {
    width: 120px;
    height: 180px;
    border-top-left-radius: 10px;
}

.image {
    flex-shrink: 0;

}

.movie-card {
    margin: 10px;
    border: 1px solid white;
    width: 800px;
    border-radius: 10px;
    display: flex;
    height: 250px;
    background-color: #2d2d2d;

}

.button-section {
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

.movie-data {
    margin: 0 0 20px 10px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 90%;

}

.movies-container {
    padding: 30px;
    flex: 1;
}

button {
    border-radius: 5px;
    background-color: #2d2d2d;
    color: white;
    border: 1px solid lightgray;
    padding: 7px;
}

#addBtn {
    margin-left: 35px;
    width: 120px;
}


.editBtn {
    width: 100px;
    margin-bottom: 6px;
    margin-right: 50px;
}

.deleteBtn{
   margin-right: 30px;
    margin-bottom: 7px;
   width: 100px;
}

.edit-deleteBtn-container{
    display: flex;
    justify-content: flex-end;
}

#submit-new-movie {
    width: 150px;
}

p {
    margin-left: 10px;
}

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;

    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 40%;
        border: 1px solid black;
        border-radius: 10px;
        padding: 30px;
        background-color: #2d2d2d;

        label,
        input,
        button {
            padding-bottom: 10px;
        }

        label {
            display: inline-block;
            width: 90%;
            padding-right: 5px;

        }

        input {
            margin-top: 5px;
            width: 90%;
            border-radius: 5px;
        }

        button {
            margin-top: 20px;
            width: 100px;
        }

        h3 {
            margin: 0;
        }

    }

}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    background-color: #2d2d2d;
    height: 4vh;

    a {
        text-decoration: none;
        color: white;
        font-size: large;
    }
}

h1 {
    margin: 0;
    padding: 10px;
    padding-left: 35px;
}

footer {
    display: flex;
    align-items: center;
    background-color: #2d2d2d;
    height: 3vh;
    padding: 10px;
}

#information-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;

    #sound,
    #picture,
    #comfort {
        width: 45%;
        display: flex;
        border-bottom: 1px solid rgba(255, 255, 255, 0.4);
        margin-bottom: 15px;
    }

    #info {

        display: flex;
        border-bottom: 1px solid rgba(255, 255, 255, 0.4);
        margin-bottom: 15px;

    }

}

.main-container-about {
    flex: 1;
    background-image: url("https://claptery.com/uploads/images/sizeoriginalx540/qQplEc4vWtmgPw2uNEqL.jpg");
    background-size: cover;
}

.main-container-home {
    flex: 1;
    background-image: url("https://betonicvet.com/wp-content/uploads/2016/05/arena-01.jpg");
    background-size: cover;
}

#home-title {
    color: #fff;
    background: rgba(0, 0, 0, 0.4);
    padding: 5px 10px;
    border-radius: 4px;
}

#main-home-picture {
    margin-bottom: 30px;

    .home-poster {
        width: 100%;
        height: 700px;
    }
}

#small-home-pictures {
    display: flex;
    justify-content: center;
}

.home-page-pictures {
    display: flex;
    flex-wrap: wrap;
    gap: 200px;
    justify-content: center;
    padding: 20px;

    img {
        width: 200px;
        height: 200px;
        border-radius: 10px;
        object-fit: cover;
    }
}

//SPINNER

.spinner-wrapper {
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.spinner {
    border: 6px solid #f3f3f3;
    border-top: 6px solid #3498db;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
    margin-bottom: 15px;
}

.spinner-text {
    font-size: 18px;
    color: #ffff;
    font-weight: bold;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

#success-message {
    padding-top: 20px;
    color: greenyellow;
   font-weight: bold;
}

#error-message {
    padding-top: 20px;
    color: red;
    font-weight: bold;
}

